<div class="container">
    <%if(user.length>0){%>
        <%for(var i=0;i<user.length;i=i+2){%>
            <div class="row">
                <%for(var j=0;(i+j)<user.length && j<2;j++){%>
                    <div class="col-md-6">
                        <a href="/detail/<%= user[i+j]._id %>" style="color:black;text-decoration: none;">
                            <div class="card">
                                <h1>
                                    <%= user[i+j].name %>
                                </h1>
                                <div class="row">
                                    <div class="col-xs-6 l1-left">
                                        <h4>
                                            <%= user[i+j].type %>
                                        </h4>
                                    </div>
                                    <div class="col-xs-6 l1-left">
                                        <h4>
                                            <%= user[i+j].category %>
                                        </h4>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 l1-left">
                                        <p>By
                                            <%= user[i+j].author %>
                                        </p>
                                    </div>
                                    <div class="col-xs-6 l1-left">
                                        <p>
                                            <%= user[i+j].formated_date %>
                                        </p>
                                    </div>
                                </div>
                                <%if(user && String(user._id)===String(user[i+j].userid)){%>
                                    <div class="row">
                                        <div class="col-xs-6 mod-btn">
                                            <a href="/edit/<%= user[i+j]._id %>">
                                                <button type="button" name="button" class="edit-button"><i class="fa fa-edit"></i></button>
                                            </a>
                                        </div>
                                        <div class="col-xs-6">
                                            <a href="/delete/<%= user[i+j]._id %>">
                                                <button type="button" name="button" class="delete-button"><i class="fa fa-trash"></i></button>
                                            </a>
                                        </div>
                                    </div>
                                    <%}%>
                            </div>
                        </a>
                    </div>
                    <%}%>
            </div>
            <%}%>
                <%}else{%>
                    <div class="card">
                        <h1>No user found</h1>
                    </div>
                    <%}%>
</div>